build
dist
build-docs
node_modules
test-acts
test-actors
local_test.sh
my-act-*
my-python-*
pull-test-*
_mytests
.vscode
.idea
docs/changelog.md

**/scrapy-wrapper/templates/*

test/tmp
oclif.manifest.json
